:root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --munnarTeaGarden: #00aa00;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
      --monsoonCloud: #333849;
      --backwaterBlue: #032094;
    }

body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
        padding: 0; 
        width: 100vw; 
    }

    /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--keralaNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column; 
            background-color: var(--keralaShade); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--keralaNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--ripeMango);
        }

        .hiddenContent {
            display: none;
        }

    .header {
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-top: 3vh; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-top: 10px; 
        box-sizing: border-box; 
        min-height: 10vh;
    }
 

    .mainContainer {
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 100%;  
        box-sizing: border-box;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 85%; 
        margin: 5%; 
        border: solid var(--mountainFog) 3px; 
        box-shadow: 3px 3px #001d08;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .containerTitle {
        align-self: center;
    }

    #locationName, #currentTemp, #time {
      padding-left: 3vw; 
    }


    .mapContainer {
      align-self: center;
    }

      .mapImage {                                 
      height: auto;                  
      aspect-ratio: 1 / 1; }

  .footer {
        width: 100%; 
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 25px;
    }

@media only screen and (min-width: 768px) {

  .topNav {
     display: flex; 
     flex-direction: row;
    }

  .topnav > a {
            text-align: left;
        }

  .mainContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    width: 100vw;
    min-height: fit-content; 
    border-top: 3px solid var(--mountainFog); 
  }

    .container {
      width: 43%; 
      min-height: fit-content;
      border: none; 
      box-shadow: none;
      justify-content: flex-start;
      padding-top: 5vh;
      align-self: baseline;
    }

    .image {
      max-height: 90%;
      width: auto; 
      padding: auto; 
      justify-self: center;
    }

    .mapContainer {
      align-self: flex-start;
    }


}