:root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --munnarTeaGarden: #00aa00;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
      --monsoonCloud: #333849;
      --backwaterBlue: #032094;
    }

    body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
    }

    /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--keralaNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--keralaShade); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--keralaNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--ripeMango);
        }

        .hiddenContent {
            display: none;
        }



    .header {
        font-size: .9rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-top: 10px;
        padding-bottom: 10px; 
        box-sizing: border-box; 
        max-height: 20vh;
        margin-bottom: 3vh;
    }
 

    .mainContainer {
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 97%; 
        padding: 2%;
        margin: 1%; 
        padding: 2%;
        border: solid var(--mountainFog) 2px; 
        box-shadow: 3px 3px #001d08;
        background-color: #003100c2;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .containerTitle {
        align-self: center;
        text-align: center;
    }

    .containerImg {
        align-self: center;
        width: 100%; 
    }

    .figure {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        width: 100%; 
    }

    .figCaption {
        text-align: center;
    }


     /* loop e to m example image on click */
    .flashcardExpContainer {
        align-content: center;
    }
        .flashcardImg {
            max-width: 70vw;
            cursor: pointer; 
        }


    .locationDiv {
        align-content: center;
        align-items: center;
        justify-content: space-around; 
    }
        .locationImg {
            width: 100%;
            padding: 10px; 
            box-sizing: border-box;
        }


    .mapDiv {
        align-self: center;
    }
        #keralaMap {
            max-height: 45vh;
            max-width: 100%;
            box-shadow: 3px 3px var(--keralaShade);
            cursor: pointer; 
        }


    .worldClock {
        align-items: start;
    }

        .sunMapButton {
            display: none;  
        }

    .footer {
        margin: 25px; 
        box-sizing: border-box;
        text-align: center;
      }

    @media only screen and (min-width: 768px) {

    .header {
        max-height: 10vh; 
        font-size: 0.9rem;
    }
  

    .mainContainer {
        display: grid;
        grid-template-areas: 
        "flashcardExp mapDiv" 
        "locationDiv worldClock"
        ;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto auto; 
    }

    /* default setting for containers within main for tablets and large screens */

    .container {
        height: 95%; 
    }

        .flashcardExpContainer {
            grid-area: flashcardExp;
        }
            .flashcardImg {
                max-width: 30vw;
            }

        .locationDiv {
            grid-area: locationDiv; 
        }
            .locationImg {
                max-width: 30vw;
            }

        .mapDiv {
            grid-area: mapDiv;
        }  

        .worldClock {
            grid-area: worldClock;
        }
            .sunMapButton {
                display: none;  
            }

    }

    @media only screen and (min-width: 768px) {
    .topNav {
        display: flex; 
        flex-direction: row;
        font-size: 1.25rem;
    }

      .topnav > a {
          text-align: left;
      }
    
    .worldClock {
            justify-content: space-around; 
            align-items: center;
            font-size: 1.25rem;
            padding: 5%; 
            min-height: 50vw; 
        }
    
    }

    @media only screen and (min-width: 992px) {
        .topnav {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
      }

      .topnav #myLinks {
          display: flex;
          flex-direction: row;
          background-color: transparent;
      }

      .topnav a {
        margin-left: 5vw; 
        margin-right: 12vw; 
      }

      #dropMenu {
          display: none; 
      }

        .sunMapButton {
            display: block; 
            font-size: 1.5rem;
            background-color: var(--backwaterBlue);
            color: var(--mountainFog);
            box-shadow: 3px 3px var(--keralaNight);
            padding: 15px; 
            border-radius: 15px;
        }

    }
        